* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: Helvetica, sans-serif;
}

#chatBox {
    width: 100%;
    height: 100%;
}

#container {
    width: 600px;
    height: 400px;
    padding-bottom: 60px;
}

#message {
    width: 89%;
    height: 10%;
}

#sendBtn {
    width: 5%;
    height: 10%;
    margin: 0%;
}

